.item {
  @apply w-full flex justify-between items-center border h-20 px-4 text-base my-2;
  background: rgba(24, 24, 24, 1);
  border-color: rgba(34, 34, 34, 1);
  color: rgba(218, 218, 218, 1);

  .nameBox {
    @apply flex w-72;

    img {
      @apply h-6 w-6 ml-8;
    }

    .name {
      @apply ml-2;
      color: rgba(104, 192, 255, 1);
    }
  }

  .status {
    @apply flex items-center;

    .text, .textGray {
      @apply ml-2;
    }

    .textGray {
      @apply text-sm;
      color: rgba(112, 112, 112, 1);
    }
  }

  .progress {
    @apply flex items-center;

    .line {
      @apply w-40 h-1 relative;
      background: rgba(34, 34, 34, 1);
      div {
        @apply w-5 h-1 absolute top-0 left-0;
        background: rgba(22, 180, 129, 1);
        width: 12.93%;
      }
    }

    .textGray {
      @apply ml-2 text-sm;
      color: rgba(112, 112, 112, 1);
    }
  }
}

.text {
  .textGray {
    @apply ml-2 text-sm;
    color: rgba(112, 112, 112, 1);
  }

  &.inactive {
    color: rgba(255, 118, 118, 0.8);
    .textGray {
      color: rgba(255, 118, 118, 0.8);
    }
  }
}