.container {
  @apply px-8 py-16 w-full flex flex-col;
}

.title {
  @apply text-white leading-8 text-xl tracking-wider;
}

.stat {
  @apply w-full grid grid-cols-3 gap-x-8 mt-8;
}

.valid {
  @apply flex justify-between w-full mt-8;

  .search {
    @apply flex justify-center items-center;
    background: rgba(24, 24, 24, 1);
    width: 520px;

    input {
      @apply text-center bg-inherit text-white;
      width: 480px;

      &::placeholder {
        @apply text-xs;
        color: rgba(218, 218, 218, 0.2);
      }
    }
  }
}

.listType {
  @apply flex w-full justify-center border-b mt-8;
  border-color: var(--light-gray);

  .listTypeBtn {
    @apply px-12 py-3;
    color: rgba(112, 112, 112, 1);

    &.active {
      @apply border-b;
      color: rgba(78, 149, 255, 1);
      border-color: rgba(78, 149, 255, 1);
    }
  }
}

.list {
  @apply mt-8;
}